#!/usr/bin/make -f

LIBDIR = lib/$(DEB_HOST_MULTIARCH)

# The upstream Makefile manages compiler/linker flags internally.
# Prevent dpkg-buildflags from injecting conflicting flags.
unexport CFLAGS CXXFLAGS CPPFLAGS DFLAGS FFLAGS FCFLAGS LDFLAGS

%:
	dh $@

override_dh_auto_build:
	$(MAKE) GNU=1 STATIC=0

override_dh_auto_install:
	$(MAKE) install PREFIX=usr DESTDIR=$(CURDIR)/debian/tmp CLEAN=0 STATIC=0 \
	    POUTDIR=$(LIBDIR) PPKGDIR=$(LIBDIR)/pkgconfig \
	    PCMKDIR=$(LIBDIR)/cmake/libxstream
	rm -f debian/tmp/usr/share/libxstream/LICENSE.md

override_dh_auto_test:

override_dh_shlibdeps:
	dh_shlibdeps -- --ignore-missing-info

override_dh_auto_clean:
	$(MAKE) realclean || true
