div.injected {
  display: none;
}

p.caption.collapsible {
  cursor: pointer;
}

p.caption.collapsible .caption-text::before {
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 0.4em;
  font-size: 0.8em;
}

p.caption.collapsed .caption-text::before {
  content: "\f196";
}

p.caption.collapsible:not(.collapsed) .caption-text::before {
  content: "\f147";
}
